.about {
  padding-top: 64px;
  height: 100%;
  margin-top: 40px;
  padding-bottom: 40px;
  background-color: var(--secondary);
}

.about-me {
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 998px) {
  .about-me {
    padding: 0 5vw;
  }
}

.about-me h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.about-me h3 span {
  color: var(--tertiary);
  font-size: 32px;
}

.about-me > p {
  border-left: 5px solid var(--tertiary);
  padding: 0 10px;
  text-align: left;
  font-size: 22px;
  margin-bottom: 30px;
}

.arrow-about {
  color: var(--tertiary);
}

/* .about__button {
  margin-bottom: 50px;
} */

.about-me a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary);
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: var(--tertiary);
  border-width: 2px;
  border-style: solid;
  border-radius: 35px;
  transition: 0.3s;
}

.about-me a:hover {
  transform: scale(1.05, 1.05);
}

.about-me a img {
  width: 32px;
  height: auto;
  animation: 5s infinite flotar;
}

.about-me a P {
  color: var(--white);
  padding: 0;
  display: inline-block;
  margin: 0;
}

@keyframes flotar {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -3px);
  }
  75% {
    transform: translate(0, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.container-skills {
  margin: 0 auto;
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
  gap: 10px;
}
.container-skills__name {
  color: var(--white);
}
